build
BBLAccessibility.xcodeproj/project.xcworkspace/xcuserdata/ilo.xcuserdatad
BBLAccessibility.xcworkspace/xcuserdata/ilo.xcuserdatad
NMAccessibility/NMTest001.xcodeproj/project.xcworkspace/xcuserdata/ilo.xcuserdatad/UserInterfaceState.xcuserstate
NMAccessibility/NMTest001.xcodeproj/project.xcworkspace/xcuserdata/ilo.xcuserdatad/WorkspaceSettings.xcsettings
