<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BBLAccessibility.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>BBLAccessibilityApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>BBLAccessibilityMonolithic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>BBLAccessibilitySwift.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5109F3CE1CC17CAB007E1D13</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51100F0A1CC15D200095B985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51100F1F1CC15D540095B985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51100F2D1CC15D540095B985</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51A1F8F01DBEDA4B00CF6E91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
